*{
    margin: 0;
    padding: 0;
    background-color: greenyellow;
    
}

h1{
    text-align: center;
}
.container a{
    border-radius: 5px;
}

.container a:hover{
    border: solid 2px green;
    color: red;
    transition: all 1.5;

}